
body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;
}

.cover {
    height: 100vh;
    background: url('images/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:scroll;
    background-color: rgba(17, 0, 0, 0.5);

}


.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}


.masthead-container {
    padding-top: 1rem;
    background-color: teal;
    /*color: lightsalmon;*/
    color: #fff;
}

.bar {
    padding-top: 1rem;
    background-color: teal;
    color: lightsalmon;
}

.bar p {
    left: 25rem;
}

.intro {
    margin-top: 5rem;
    padding: 2rem;
    padding-top: 1rem;
    background-image: url('images/zero-take-8ihqjGKEyD4-unsplash.jpg');
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: none;
    display:flex;

}

.intro img {
    width: 15 rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
    display:flex;
}

.intro h1 {
    color: Coral;
    font-size: 2rem;
    margin-top: 10rem;
    padding: 2rem;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    color: rgb(248, 243, 241);
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}

.summary,
.testimonial,
.photos,
.meetup,
.contact {
    margin: 4em auto;
    text-align: center;
    padding-inline-start: 10fr;
    padding-inline-end: 10fr;
}

h4 {
    display: block;
    margin-block-start: 1.40em;
    margin-block-end: 1.40em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    font-weight: bold;
}

.summary {
    padding: 0 1rem;
}

.summary p {
    color: White;
}

.testimonial {
    background-color: teal;
    height: 20rem;
    padding: 0 1rem;
    padding-top: 1rem;
    color: yellow;
}

.testimonial h1 {
    font-size: 2.5rem;
    color: yellow;
}

.summary h2 {
    color: yellow;
}


span {
    color: salmon;
}

.photos img {
    width: 30%;
    margin: 1.5%;
}

.meetup {
    margin-bottom: 2rem;
}

.meetup img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.meetup h1 {
    color: yellow;
    text-align: center;
}

.contact {
    background-color: teal;
    height: 20rem;
    padding: 0 1rem;
    padding-top: 1rem;
    color: yellow;
    margin-top: 10rem;
    padding: 2rem;

}

.footer {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    padding: 13px;
    color: white;
    top: 140px;
  }


@media only screen and (max-width: 1048px) {

    .photos img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 640px) {

    .intro h1 {
        margin-top: 2rem;
    }

    .intro {
        max-height: 200px;
    }

    .photos img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {

    .testimonial h1 {
        font-size: 2rem;
    }

    .photos img {
        width: 100%;
    }
}
